/* Éléments communs à l'ensemble des pages
- body : centre la page sur */

body
{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

/* Couleur des en têtes et pieds de page */
.colorheadfoot
{
    background-color: #CECECE;
}

/* Ombre de header / footer */

/* En tête du site web */
header
{
    box-shadow: 2px 2px 2px #000000;
    border-radius: 5px;
	position: static;
	display: block;
	height: 100px;
	margin-bottom: 1%;
}

/* Pied de page du site web */
footer
{
    box-shadow: 2px 2px 2px #000000;
    border-radius: 5px;
	position: static;
	display: block;
	text-align: center;
	height: 30px;
	margin-top: 1%;
    height: 2em;
}

.elfooter
{
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 2em;
}

/* Menu de navigation : Métiers, Interviews, Formations, Profils */
nav
{
	position: relative;
	float: right;
	margin: 1%;
}

.menu
{
	display: inline-block;
    padding-right: 10px;
}

.pos
{
	position: relative;
	float: right;
	height: 100%;
	padding: auto;
}

/* Élémént de saisie de données, en haut à droite de la page */
.recherche
{
	float: right;
	margin: 1%;
}

/* Logo du site web, en haut à gauche de la page */
.logo
{
	position: relative;
	float: left;
	height : 100%;
}

/* Disposition du fil d'Ariane */
.ariane
{
    border-radius: 10px;
    margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	text-align: center;
	border: 1px solid black;
	margin: 1%;
	padding: 0.5%;
}

/* Éléments spécifiques à la page d'accueil du site 
 * situé dans /home.html */

/* Bloc d'introduction, premier élément de la page */
 .introduction
 {
 	display: inline-block;
	width: 90%;
	padding: 5px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 3px;
	text-align: center;
 }

/* Bloc de présentation des métiers, interviews, formations */
.principal
{
	display: inline-block;
	width: 90%;
	padding: 5px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 3px;
}

.elementpr
{
	display: inline-block;
	padding-left: 9.75%;
	padding-right: 9.75%;
}

.format_img
{
	position: relative;
	width: 130px;
	height: 130px;
}

/* Bloc de présentation des différents profils de visiteurs */
.profils
{
	display: inline-block;
	width: 90%;
	padding: 5px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 3px;
}

.elprofil
{
	display: inline-block;
	padding-left: 16.5%;
	padding-right: 16.5%;
}

.format_img_pro
{
	position: relative;
	width: 130px;
	height: 130px;
}

/* Gestion des couleurs des liens HTML */
a:link 
{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:visited
{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

a:active
{
    text-decoration: underline;
}

/* Gestion alternative des couleurs sur certains liens */
